/*Paleta de colores*/
$color-primario: antiquewhite;
$color-secundario: rosybrown;
$color-letras: black;

/*Tamaños de pantalla*/
$celular: 516px;
$tablet: 768px;
$desktop: 992px;
$desktopxg: 1200px; 

/* Fuentes */
$fuente-principal: "Montserrat", sans-serif;

/*MIXIN*/
@mixin flex-columna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

